@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #E0E0E0;
  --primary: #00FF94;
  --secondary: #FF0055;
  --gold: #FFD700;
  --muted: #888888;
  --card: #000000;
  --border: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gold: var(--gold);
  --color-muted: var(--muted);
  --color-card: var(--card);
  --color-border: var(--border);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}